#Editor {
  display: flex;
  left: 0;
  background-color: #B4BEC9;
  /*background-color: #1f1f29;*/
}


#sidebar-top {
  width: 100%;
  height: 150px;
  right: 0;
  padding: 20px;
  color: white;
  background-color: #1f1f29;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 1;
}

#gridContainer {
  justify-content: center;
  align-items: center;
  left: 0;
  /* top: 250; */
  padding-top: 15%;
  /* padding-left: 8%; */
  /* position: relative; */
  margin-top: 250px; /* Ajusta esto para que coincida con la altura del sidebar */
}


#controls input[type="number"],
#controls select,
#controls input[type="color"],
#controls button,
#controls input[type="number"],
#controls select,
#controls input[type="range"],
#controls input[type="color"],
#controls input[type="checkbox"] 
{
  width: 150px;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
}

#controls label {
  display: block;
  color: white;
}

#controls button {
  background-color: #4caf50;
  cursor: pointer;
  margin-left: 5px;
}

 
.a {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px; 
  width: 350px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: right 0.3s;
  z-index: 2; 
}

.sidebar.open {
  right: 0; 
  
}

#controls-sidebar {
  display: block;
  margin-left: 50px;
  margin-top: 10px;
}

#toggle {
 margin-left: -240px;
 
}

#controls-sidebar input[type="number"],
#controls-sidebar select,
#controls-sidebar input[type="color"],
#controls-sidebar button,
#controls-sidebar input[type="number"],
#controls-sidebar select,
#controls-sidebar input[type="range"],
#controls-sidebar input[type="color"],
#controls-sidebar input[type="checkbox"]  {
  width: 150px;
  
}


#controls-sidebar p {
  margin: 0; /* Elimina el margen predeterminado de los párrafos para evitar espacios adicionales */
  margin-bottom: 5px; 
}






