body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #9c9c9c; /* Fondo blanco */ 
  width: 300px;
  margin: 20px; /* Añade un margen para que no esté pegado al borde de la ventana */
  color: #000; /* Color de texto negro */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centra el contenido del formulario */
}

.form-group {
  margin: 10px 0;
  width: 100%;
}

label {
  font-weight: bold;
  color: #000; /* Color de texto negro */
}

input {
  width: 100%;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;/* Agrega margen inferior para separar los elementos */

}

input::placeholder {
  text-align: center;
}

/* Estilos de los Proyectos  */
.contenedor-proyectos-scroll {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px; /* añade un borde redondeado */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* añade una sombra ligera */
}

.proyecto {
  display: flex; /* usa flexbox para una mejor alineación */
  justify-content: space-between; /* separa el texto del botón */
  align-items: center; /* centra verticalmente el texto y el botón */
  margin-bottom: 15px;
  padding: 10px; 
  /* background-color: #f6f6f6; color de fondo para cada proyecto */
  border-radius: 5px; /* borde redondeado para cada proyecto */
}

.proyecto p { /* estilos para el texto del proyecto */
  margin: 0;
  font-weight: 500;
}

.proyecto button {
  /* background-color: #333; color de fondo del botón */
  /* color: #fff; color de texto del botón */
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* transición suave para el efecto hover */
}

.proyecto button:hover {
  background-color: #555; /* color de fondo del botón al pasar el mouse */
}



